html, body{
	height: 100%;
	width: 100%;
	font-family: 'Poppins', sans-serif;
	color: #222;
	margin: 0;
	padding: 0;
	
}
.cont{
	background-color: #EFF6F1;
	height: 115%;

}
.row{
	padding: 10% 10% 12% 12%;
}

.h1{
	color: #2c75ff;	
	font-size: 60px;
}
.cont2{
	width: 400px;
	margin-left: 50px;
}
.card{
	background-color: white;
	width: 400px;
	border: none;
	z-index: 2px;
	border-radius: 10px;
	box-shadow:0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.c{
	color: black;
}
.cc{
	font-size: 15px;
}
.c:hover{
	color: inherit;
	text-decoration: underline;
}
.btn1{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.btn1:hover{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	text-decoration: underline;
}	
.btn{
	font-size: 20px;
}
.bouton{
	font-size: 17px;
}
footer{
	padding: 0 10% 0 12%;
}

@media only screen and (max-width: 340px){
	*{
		padding: 0;
		margin: 0;
	}
	body{
		max-width: 340px;
	}
	.col2{
		margin-top: 50px;
	}
	.row{
		padding: 0px;
	}
	.cont2{
		margin-left: 0px;
	}
	.card{
		max-width: 300px;
	}
	.cc{
		max-width: 300px;
	}
}

@media screen and (min-width: 341px) and (max-width: 768px){
	*{
		padding: 0;
		margin: 0;
	}
	body{
		max-width: 768px;
	}
	.col2{
		margin-top: 100px;
	}
	.row{
		padding: 0px;
	}
	.cont2{
		margin-left: 0px;
	}
	.card{
		max-width: 700px;
	}
}